/HospitalRecords_1/nbproject/private/
/JavaApplication28/nbproject/private/
/SearchAssignment/nbproject/private/
/searchassessment/nbproject/private/
/searchassessment/build/
/designpatternsa_solution/nbproject/private/
/designpatternsa_solution/build/
/CH03.designpatterns.observer.weather/nbproject/private/
/simplotto/nbproject/private/
/simplotto/build/
/lottosimple/nbproject/private/
/lottosimple/build/